<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="show-file h-screen w-full bg-zinc-800 p-10">
        <a href="/" class="inline-block text-blue-600 mb-5">Go Back Home</a>
        <h1 class="text-zinc-200 text-4xl"><%= filename %></h1>
        <h2 class="text-zinc-200 text-xl mt-5"><%= filedata %></h2>
    </div>
</body>
</html>